@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Work+Sans:wght@400;600;800&display=swap");

body {
  font-family: "Work Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

/* nav styles starts here */

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px 20px 50px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 80px;
}
.logo-container img {
  width: 86px;
  height: 40px;
}
.logo-container p {
  font-size: 30px;
  font-weight: 700;
}

.nav-items-container {
  display: flex;
  gap: 50px;
  padding-top: 20px;
}
.nav-items-container a {
  text-decoration: none;
}

.nav-follow {
  background-color: rgba(11, 2, 35, 0.1);
  display: flex;
  border: 0;
  border-radius: 10px;
  padding: 0px 10px;
}
.nav-follow p {
  margin-right: 5px;
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.nav-follow img {
  width: 24px;
  height: 20px;
}
/* nav styles ends here */

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background-image: url(images/Group\ 14.png);
  background-repeat: no-repeat;
}
.banner-description {
  margin-left: 80px;
}
.banner-description h3 {
  color: #0b0223;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0;
}

.banner-description h1 {
  font-size: 80px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-description p {
  color: #534c64;
  font-size: 15px;
  font-weight: 500;
  text-transform: lowercase;
}
.btn-1 {
  padding: 15px 20px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
}
.btn-2 {
  padding: 15px 20px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  border-radius: 48px;
  background: #4ec5f7;
}

.banner-images img {
  height: 680px;
  width: 646px;
}
/* banner styles ends here */

.second-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.second-sec-img img {
  height: 439px;
  width: 808px;
}
.second-sec-description {
  text-align: right;
}

.second-sec-title {
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec-des {
  color: #534c64;
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
  width: 500px;
}

.unleash {
  color: #534c64;
  font-size: 20px;
  font-weight: 700;
  line-height: 45px;
}
/* second section style ends here */

.third-sec-title {
  text-align: center;
}

.third-sec-title h1 {
  color: #0b0223;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 0;
}
.third-sec-title span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.third-sec-title p {
  color: #534c64;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  padding: 50px 0;
  gap: 15px;
}
.card p {
  width: 330px;
  color: #534c64;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}
.video-btn {
  z-index: 2;
  position: relative;
  left: 40%;
  bottom: 38%;
}
.watch_now {
  z-index: 2;
  position: relative;
  left: 35%;
  bottom: 38%;
}
#watch-now {
  color: #ff42a5;
}
.shadow_img:hover {
  filter: blur(2px);
}

/* third section ends here */

.fourth-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
  padding-left: 100px;
}
.fourth-sec-des {
  text-align: right;
}
.fourth-sec-des h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 0;
}
.fourth-sec-des span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fourth-sec-des p {
  color: #534c64;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  width: 310px;
}

.fourth-img {
  position: relative;
}
.second-img {
  position: absolute;
  bottom: -70px;
  left: -100px;
}
/* fourth section styles ends here */
.different-games {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  padding: 50px 50px;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 20px;
}

.game {
  display: flex;
  width: 243px;
  height: 80px;
  align-items: center;
  justify-content: space-around;
  border-radius: 50px;
  background: #fff;
}
.game:hover {
  border: 1px solid #ff42a5;
  cursor: grab;
  color: #ff42a5;
}
/* last section styles ends here */

footer {
  background: #0b0223;
  color: #fff;
  padding: 80px;
  text-align: center;
}
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-logo img {
  width: 86px;
  height: 40px;
}
.footer-logo p {
  color: white;
  font-size: 30px;
  font-weight: 700;
}
.socials {
  margin-bottom: 20px;
}
.socials a {
  text-decoration: none;
  color: #fff;
  padding-left: 50px;
}
.socials-icons span {
  padding-left: 50px;
}
.policies {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}
footer p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
}

@media screen and (max-width: 576px) {
  nav,
  .nav-items-container,
  .banner-container,
  .second-section,
  .fourth-section {
    flex-direction: column;
  }
  .nav-items-container {
    align-items: center;
  }
  .banner-images img {
    width: 400px;
    height: 400px;
  }
  .banner-description {
    margin-left: 20px;
  }
  .banner-container {
    background-image: none;
  }
  .second-section {
    padding: 20px 0;
  }
  .second-sec-img img {
    width: 460px;
    height: 360px;
  }
  .second-sec-description {
    text-align: center;
  }
  .sec-des {
    width: auto;
  }
  .grid-container {
    grid-template-columns: 1fr;
    padding-left: 40px;
  }
  .fourth-section {
    padding-left: 0;
  }
  .fourth-sec-des {
    text-align: center;
  }
  .first-img img {
    width: 300px;
  }
  .second-img img {
    width: 160px;
    height: 180px;
    position: absolute;
    bottom: 30px;
    left: 50px;
  }
  .socials a {
    padding-left: 0;
    padding-right: 5px;
  }
  .socials-icons span {
    padding-left: 10px;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  nav,
  .banner-container,
  .second-section,
  .fourth-section {
    flex-direction: column;
    align-items: center;
  }
  .banner-container {
    background-image: none;
  }
  .banner-images img {
    width: 400px;
    height: 400px;
  }
  .banner-description {
    text-align: center;
  }
  .logo-container,
  .banner-description {
    margin-left: 0;
  }
  .second-sec-description,
  .fourth-sec-des {
    text-align: center;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 25px;
  }
}
