@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Work+Sans:wght@400;600;800&display=swap");

body {
  font-family: "Work Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

/* nav styles starts here */

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px 20px 50px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 80px;
}
.logo-container img {
  width: 86px;
  height: 40px;
}
.logo-container p {
  font-size: 30px;
  font-weight: 700;
}

.nav-items-container {
  display: flex;
  gap: 50px;
  padding-top: 20px;
}
.nav-items-container a {
  text-decoration: none;
}

.nav-follow {
  background-color: rgba(11, 2, 35, 0.1);
  display: flex;
  border: 0;
  border-radius: 10px;
  padding: 0px 10px;
}
.nav-follow p {
  margin-right: 5px;
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.nav-follow img {
  width: 24px;
  height: 20px;
}
/* nav styles ends here */

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background-image: url(images/Group\ 14.png);
  background-repeat: no-repeat;
}
.banner-description {
  margin-left: 80px;
}
.banner-description h3 {
  color: #0b0223;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0;
}

.banner-description h1 {
  font-size: 80px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-description p {
  color: #534c64;
  font-size: 15px;
  font-weight: 500;
  text-transform: lowercase;
}
.btn-1 {
  padding: 15px 20px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
}
.btn-2 {
  padding: 15px 20px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  border-radius: 48px;
  background: #4ec5f7;
}

.banner-images img {
  height: 680px;
  width: 646px;
}

@media screen and (max-width: 576px) {
  nav,
  .nav-items-container,
  .banner-container {
    flex-direction: column;
  }
  .nav-items-container {
    align-items: center;
  }
  .banner-images img{
    width: 400px;
    height: 400px;
  }
  .banner-description {
    margin-left: 20px;
  }
  .banner-container{
    background-image: none;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  nav, .banner-container {
    flex-direction: column;
    align-items: center;
  }
  .banner-container{
    background-image: none;
  }
  .banner-images img{
    width: 400px;
    height: 400px;
  }
  .logo-container,.banner-description {
    margin-left: 0;
  }
}
